.landing{
    background-image: url("https://wallpapercave.com/wp/wp7174452.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.blur{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    justify-content: center;
    display: grid;
    align-items: center;
}

.button{
    width: 100px;
    height: 70px;
    background-color: #03a871;
    border-radius: 15%;
    border: none;
    color: #fff;
}

.navLink{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}